# Web Framework
fastapi
uvicorn
python-multipart
flask
flask-cors

# Database
mysql-connector-python
mysqlclient
SQLAlchemy
pymysql

# Data Processing
pandas
openpyxl

# Utilities
python-dotenv
requests
python-jose

# Logging
logging